.menu-iconic-lightbulb:before { content: "\e063"; }

.menu-iconic-equalizer:before { content: "\e052"; }

.menu-iconic-brush_alt:before { content: "\e01c"; }

.menu-iconic-move:before { content: "\e03e"; }

.menu-iconic-tag_fill:before { content: "\e02b"; }

.menu-iconic-book_alt2:before { content: "\e06a"; }

.menu-iconic-layers:before { content: "\e01f"; }

.menu-iconic-chat_alt_fill:before { content: "\e007"; }

.menu-iconic-layers_alt:before { content: "\e020"; }

.menu-iconic-cloud_upload:before { content: "\e045"; }

.menu-iconic-chart_alt:before { content: "\e029"; }

.menu-iconic-fullscreen_exit_alt:before { content: "\e051"; }

.menu-iconic-cloud_download:before { content: "\e044"; }

.menu-iconic-paperclip:before { content: "\e08a"; }

.menu-iconic-heart_fill:before { content: "\2764"; }

.menu-iconic-mail:before { content: "\2709"; }

.menu-iconic-pen_alt_fill:before { content: "\e005"; }

.menu-iconic-check_alt:before { content: "\2718"; }

.menu-iconic-battery_charging:before { content: "\e05d"; }

.menu-iconic-lock_fill:before { content: "\e075"; }

.menu-iconic-stop:before { content: "\e04a"; }

.menu-iconic-arrow_up:before { content: "\2191"; }

.menu-iconic-move_horizontal:before { content: "\e038"; }

.menu-iconic-compass:before { content: "\e021"; }

.menu-iconic-minus_alt:before { content: "\e009"; }

.menu-iconic-battery_empty:before { content: "\e05c"; }

.menu-iconic-comment_fill:before { content: "\e06d"; }

.menu-iconic-map_pin_alt:before { content: "\e002"; }

.menu-iconic-question_mark:before { content: "\003f"; }

.menu-iconic-list:before { content: "\e055"; }

.menu-iconic-upload:before { content: "\e043"; }

.menu-iconic-reload:before { content: "\e030"; }

.menu-iconic-loop_alt4:before { content: "\e035"; }

.menu-iconic-loop_alt3:before { content: "\e034"; }

.menu-iconic-loop_alt2:before { content: "\e033"; }

.menu-iconic-loop_alt1:before { content: "\e032"; }

.menu-iconic-left_quote:before { content: "\275d"; }

.menu-iconic-x:before { content: "\2713"; }

.menu-iconic-last:before { content: "\e04d"; }

.menu-iconic-bars:before { content: "\e06f"; }

.menu-iconic-arrow_left:before { content: "\2190"; }

.menu-iconic-arrow_down:before { content: "\2193"; }

.menu-iconic-download:before { content: "\e042"; }

.menu-iconic-home:before { content: "\2302"; }

.menu-iconic-calendar:before { content: "\e001"; }

.menu-iconic-right_quote_alt:before { content: "\e012"; }

.menu-iconic-unlock_fill:before { content: "\e076"; }

.menu-iconic-fullscreen:before { content: "\e04e"; }

.menu-iconic-dial:before { content: "\e058"; }

.menu-iconic-plus_alt:before { content: "\e008"; }

.menu-iconic-clock:before { content: "\e079"; }

.menu-iconic-movie:before { content: "\e060"; }

.menu-iconic-steering_wheel:before { content: "\e024"; }

.menu-iconic-pen:before { content: "\270e"; }

.menu-iconic-pin:before { content: "\e067"; }

.menu-iconic-denied:before { content: "\26d4"; }

.menu-iconic-left_quote_alt:before { content: "\e011"; }

.menu-iconic-volume_mute:before { content: "\e071"; }

.menu-iconic-umbrella:before { content: "\2602"; }

.menu-iconic-list_nested:before { content: "\e056"; }

.menu-iconic-arrow_up_alt1:before { content: "\e014"; }

.menu-iconic-undo:before { content: "\e02f"; }

.menu-iconic-pause:before { content: "\e049"; }

.menu-iconic-bolt:before { content: "\26a1"; }

.menu-iconic-article:before { content: "\e053"; }

.menu-iconic-read_more:before { content: "\e054"; }

.menu-iconic-beaker:before { content: "\e023"; }

.menu-iconic-beaker_alt:before { content: "\e010"; }

.menu-iconic-battery_full:before { content: "\e073"; }

.menu-iconic-arrow_right:before { content: "\2192"; }

.menu-iconic-iphone:before { content: "\e06e"; }

.menu-iconic-arrow_up_alt2:before { content: "\e018"; }

.menu-iconic-cog:before { content: "\2699"; }

.menu-iconic-award_fill:before { content: "\e022"; }

.menu-iconic-first:before { content: "\e04c"; }

.menu-iconic-trash_fill:before { content: "\e05a"; }

.menu-iconic-image:before { content: "\e027"; }

.menu-iconic-comment_alt1_fill:before { content: "\e003"; }

.menu-iconic-cd:before { content: "\e064"; }

.menu-iconic-right_quote:before { content: "\275e"; }

.menu-iconic-brush:before { content: "\e01b"; }

.menu-iconic-cloud:before { content: "\2601"; }

.menu-iconic-eye:before { content: "\e025"; }

.menu-iconic-play_alt:before { content: "\e048"; }

.menu-iconic-transfer:before { content: "\e041"; }

.menu-iconic-pen_alt2:before { content: "\e006"; }

.menu-iconic-camera:before { content: "\e070"; }

.menu-iconic-move_horizontal_alt2:before { content: "\e03a"; }

.menu-iconic-curved_arrow:before { content: "\2935"; }

.menu-iconic-move_horizontal_alt1:before { content: "\e039"; }

.menu-iconic-aperture:before { content: "\e026"; }

.menu-iconic-reload_alt:before { content: "\e031"; }

.menu-iconic-magnifying_glass:before { content: "\e074"; }

.menu-iconic-calendar_alt_fill:before { content: "\e06c"; }

.menu-iconic-fork:before { content: "\e046"; }

.menu-iconic-box:before { content: "\e06b"; }

.menu-iconic-map_pin_fill:before { content: "\e068"; }

.menu-iconic-bars_alt:before { content: "\e00a"; }

.menu-iconic-volume:before { content: "\e072"; }

.menu-iconic-x_alt:before { content: "\2714"; }

.menu-iconic-link:before { content: "\e077"; }

.menu-iconic-move_vertical:before { content: "\e03b"; }

.menu-iconic-eyedropper:before { content: "\e01e"; }

.menu-iconic-spin:before { content: "\e036"; }

.menu-iconic-rss:before { content: "\e02c"; }

.menu-iconic-info:before { content: "\2139"; }

.menu-iconic-target:before { content: "\e02a"; }

.menu-iconic-cursor:before { content: "\e057"; }

.menu-iconic-key_fill:before { content: "\26bf"; }

.menu-iconic-minus:before { content: "\2796"; }

.menu-iconic-book_alt:before { content: "\e00b"; }

.menu-iconic-headphones:before { content: "\e061"; }

.menu-iconic-hash:before { content: "\0023"; }

.menu-iconic-arrow_left_alt1:before { content: "\e013"; }

.menu-iconic-arrow_left_alt2:before { content: "\e017"; }

.menu-iconic-fullscreen_exit:before { content: "\e050"; }

.menu-iconic-share:before { content: "\e02e"; }

.menu-iconic-fullscreen_alt:before { content: "\e04f"; }

.menu-iconic-comment_alt2_fill:before { content: "\e004"; }

.menu-iconic-moon_fill:before { content: "\263e"; }

.menu-iconic-at:before { content: "\0040"; }

.menu-iconic-chat:before { content: "\e05e"; }

.menu-iconic-move_vertical_alt2:before { content: "\e03d"; }

.menu-iconic-move_vertical_alt1:before { content: "\e03c"; }

.menu-iconic-check:before { content: "\2717"; }

.menu-iconic-mic:before { content: "\e05f"; }

.menu-iconic-book:before { content: "\e069"; }

.menu-iconic-move_alt1:before { content: "\e03f"; }

.menu-iconic-move_alt2:before { content: "\e040"; }

.menu-iconic-document_fill:before { content: "\e066"; }

.menu-iconic-plus:before { content: "\2795"; }

.menu-iconic-wrench:before { content: "\e078"; }

.menu-iconic-play:before { content: "\e047"; }

.menu-iconic-star:before { content: "\2605"; }

.menu-iconic-document_alt_fill:before { content: "\e000"; }

.menu-iconic-chart:before { content: "\e028"; }

.menu-iconic-rain:before { content: "\26c6"; }

.menu-iconic-folder_fill:before { content: "\e065"; }

.menu-iconic-new_window:before { content: "\e059"; }

.menu-iconic-user:before { content: "\e062"; }

.menu-iconic-battery_half:before { content: "\e05b"; }

.menu-iconic-aperture_alt:before { content: "\e00c"; }

.menu-iconic-eject:before { content: "\e04b"; }

.menu-iconic-arrow_down_alt1:before { content: "\e016"; }

.menu-iconic-pilcrow:before { content: "\00b6"; }

.menu-iconic-arrow_down_alt2:before { content: "\e01a"; }

.menu-iconic-arrow_right_alt1:before { content: "\e015"; }

.menu-iconic-arrow_right_alt2:before { content: "\e019"; }

.menu-iconic-rss_alt:before { content: "\e02d"; }

.menu-iconic-spin_alt:before { content: "\e037"; }

.menu-iconic-sun_fill:before { content: "\2600"; }

.entypo-phone:before { content: '\1F4DE'; }

.entypo-mobile:before { content: '\1F4F1'; }

.entypo-mouse:before { content: '\E789'; }

.entypo-address:before { content: '\E723'; }

.entypo-mail:before { content: '\2709'; }

.entypo-paper-plane:before { content: '\1F53F'; }

.entypo-pencil:before { content: '\270E'; }

.entypo-feather:before { content: '\2712'; }

.entypo-attach:before { content: '\1F4CE'; }

.entypo-inbox:before { content: '\E777'; }

.entypo-reply:before { content: '\E712'; }

.entypo-reply-all:before { content: '\E713'; }

.entypo-forward:before { content: '\27A6'; }

.entypo-user:before { content: '\1F464'; }

.entypo-users:before { content: '\1F465'; }

.entypo-add-user:before { content: '\E700'; }

.entypo-vcard:before { content: '\E722'; }

.entypo-export:before { content: '\E715'; }

.entypo-location:before { content: '\E724'; }

.entypo-map:before { content: '\E727'; }

.entypo-compass:before { content: '\E728'; }

.entypo-direction:before { content: '\27A2'; }

.entypo-hair-cross:before { content: '\1F3AF'; }

.entypo-share:before { content: '\E73C'; }

.entypo-shareable:before { content: '\E73E'; }

.entypo-heart:before { content: '\2665'; }

.entypo-heart-empty:before { content: '\2661'; }

.entypo-star:before { content: '\2605'; }

.entypo-star-empty:before { content: '\2606'; }

.entypo-thumbs-up:before { content: '\1F44D'; }

.entypo-thumbs-down:before { content: '\1F44E'; }

.entypo-chat:before { content: '\E720'; }

.entypo-comment:before { content: '\E718'; }

.entypo-quote:before { content: '\275E'; }

.entypo-home:before { content: '\2302'; }

.entypo-popup:before { content: '\E74C'; }

.entypo-search:before { content: '\1F50D'; }

.entypo-flashlight:before { content: '\1F526'; }

.entypo-print:before { content: '\E716'; }

.entypo-bell:before { content: '\1F514'; }

.entypo-link:before { content: '\1F517'; }

.entypo-flag:before { content: '\2691'; }

.entypo-cog:before { content: '\2699'; }

.entypo-tools:before { content: '\2692'; }

.entypo-trophy:before { content: '\1F3C6'; }

.entypo-tag:before { content: '\E70C'; }

.entypo-camera:before { content: '\1F4F7'; }

.entypo-megaphone:before { content: '\1F4E3'; }

.entypo-moon:before { content: '\263D'; }

.entypo-palette:before { content: '\1F3A8'; }

.entypo-leaf:before { content: '\1F342'; }

.entypo-note:before { content: '\266A'; }

.entypo-beamed-note:before { content: '\266B'; }

.entypo-new:before { content: '\1F4A5'; }

.entypo-graduation-cap:before { content: '\1F393'; }

.entypo-book:before { content: '\1F4D5'; }

.entypo-newspaper:before { content: '\1F4F0'; }

.entypo-bag:before { content: '\1F45C'; }

.entypo-airplane:before { content: '\2708'; }

.entypo-lifebuoy:before { content: '\E788'; }

.entypo-eye:before { content: '\E70A'; }

.entypo-clock:before { content: '\1F554'; }

.entypo-mic:before { content: '\1F3A4'; }

.entypo-calendar:before { content: '\1F4C5'; }

.entypo-flash:before { content: '\26A1'; }

.entypo-thunder-cloud:before { content: '\26C8'; }

.entypo-droplet:before { content: '\1F4A7'; }

.entypo-cd:before { content: '\1F4BF'; }

.entypo-briefcase:before { content: '\1F4BC'; }

.entypo-air:before { content: '\1F4A8'; }

.entypo-hourglass:before { content: '\23F3'; }

.entypo-gauge:before { content: '\1F6C7'; }

.entypo-language:before { content: '\1F394'; }

.entypo-network:before { content: '\E776'; }

.entypo-key:before { content: '\1F511'; }

.entypo-battery:before { content: '\1F50B'; }

.entypo-bucket:before { content: '\1F4FE'; }

.entypo-magnet:before { content: '\E7A1'; }

.entypo-drive:before { content: '\1F4FD'; }

.entypo-cup:before { content: '\2615'; }

.entypo-rocket:before { content: '\1F680'; }

.entypo-brush:before { content: '\E79A'; }

.entypo-suitcase:before { content: '\1F6C6'; }

.entypo-traffic-cone:before { content: '\1F6C8'; }

.entypo-globe:before { content: '\1F30E'; }

.entypo-keyboard:before { content: '\2328'; }

.entypo-browser:before { content: '\E74E'; }

.entypo-publish:before { content: '\E74D'; }

.entypo-progress-3:before { content: '\E76B'; }

.entypo-progress-2:before { content: '\E76A'; }

.entypo-progress-1:before { content: '\E769'; }

.entypo-progress-0:before { content: '\E768'; }

.entypo-light-down:before { content: '\1F505'; }

.entypo-light-up:before { content: '\1F506'; }

.entypo-adjust:before { content: '\25D1'; }

.entypo-code:before { content: '\E714'; }

.entypo-monitor:before { content: '\1F4BB'; }

.entypo-infinity:before { content: '\221E'; }

.entypo-light-bulb:before { content: '\1F4A1'; }

.entypo-credit-card:before { content: '\1F4B3'; }

.entypo-database:before { content: '\1F4F8'; }

.entypo-voicemail:before { content: '\2707'; }

.entypo-clipboard:before { content: '\1F4CB'; }

.entypo-cart:before { content: '\E73D'; }

.entypo-box:before { content: '\1F4E6'; }

.entypo-ticket:before { content: '\1F3AB'; }

.entypo-rss:before { content: '\E73A'; }

.entypo-signal:before { content: '\1F4F6'; }

.entypo-thermometer:before { content: '\1F4FF'; }

.entypo-water:before { content: '\1F4A6'; }

.entypo-sweden:before { content: '\F601'; }

.entypo-line-graph:before { content: '\1F4C8'; }

.entypo-pie-chart:before { content: '\25F4'; }

.entypo-bar-graph:before { content: '\1F4CA'; }

.entypo-area-graph:before { content: '\1F53E'; }

.entypo-lock:before { content: '\1F512'; }

.entypo-lock-open:before { content: '\1F513'; }

.entypo-logout:before { content: '\E741'; }

.entypo-login:before { content: '\E740'; }

.entypo-check:before { content: '\2713'; }

.entypo-cross:before { content: '\274C'; }

.entypo-squared-minus:before { content: '\229F'; }

.entypo-squared-plus:before { content: '\229E'; }

.entypo-squared-cross:before { content: '\274E'; }

.entypo-circled-minus:before { content: '\2296'; }

.entypo-circled-plus:before { content: '\2295'; }

.entypo-circled-cross:before { content: '\2716'; }

.entypo-minus:before { content: '\2796'; }

.entypo-plus:before { content: '\2795'; }

.entypo-erase:before { content: '\232B'; }

.entypo-block:before { content: '\1F6AB'; }

.entypo-info:before { content: '\2139'; }

.entypo-circled-info:before { content: '\E705'; }

.entypo-help:before { content: '\2753'; }

.entypo-circled-help:before { content: '\E704'; }

.entypo-warning:before { content: '\26A0'; }

.entypo-cycle:before { content: '\1F504'; }

.entypo-cw:before { content: '\27F3'; }

.entypo-ccw:before { content: '\27F2'; }

.entypo-shuffle:before { content: '\1F500'; }

.entypo-back:before { content: '\1F519'; }

.entypo-level-down:before { content: '\21B3'; }

.entypo-retweet:before { content: '\E717'; }

.entypo-loop:before { content: '\1F501'; }

.entypo-back-in-time:before { content: '\E771'; }

.entypo-level-up:before { content: '\21B0'; }

.entypo-switch:before { content: '\21C6'; }

.entypo-numbered-list:before { content: '\E005'; }

.entypo-add-to-list:before { content: '\E003'; }

.entypo-layout:before { content: '\268F'; }

.entypo-list:before { content: '\2630'; }

.entypo-text-doc:before { content: '\1F4C4'; }

.entypo-text-doc-inverted:before { content: '\E731'; }

.entypo-doc:before { content: '\E730'; }

.entypo-docs:before { content: '\E736'; }

.entypo-landscape-doc:before { content: '\E737'; }

.entypo-picture:before { content: '\1F304'; }

.entypo-video:before { content: '\1F3AC'; }

.entypo-music:before { content: '\1F3B5'; }

.entypo-folder:before { content: '\1F4C1'; }

.entypo-archive:before { content: '\E800'; }

.entypo-trash:before { content: '\E729'; }

.entypo-upload:before { content: '\1F4E4'; }

.entypo-download:before { content: '\1F4E5'; }

.entypo-save:before { content: '\1F4BE'; }

.entypo-install:before { content: '\E778'; }

.entypo-cloud:before { content: '\2601'; }

.entypo-upload-cloud:before { content: '\E711'; }

.entypo-bookmark:before { content: '\1F516'; }

.entypo-bookmarks:before { content: '\1F4D1'; }

.entypo-open-book:before { content: '\1F4D6'; }

.entypo-play:before { content: '\25B6'; }

.entypo-paus:before { content: '\2016'; }

.entypo-record:before { content: '\25CF'; }

.entypo-stop:before { content: '\25A0'; }

.entypo-ff:before { content: '\23E9'; }

.entypo-fb:before { content: '\23EA'; }

.entypo-to-start:before { content: '\23EE'; }

.entypo-to-end:before { content: '\23ED'; }

.entypo-resize-full:before { content: '\E744'; }

.entypo-resize-small:before { content: '\E746'; }

.entypo-volume:before { content: '\23F7'; }

.entypo-sound:before { content: '\1F50A'; }

.entypo-mute:before { content: '\1F507'; }

.entypo-flow-cascade:before { content: '\1F568'; }

.entypo-flow-branch:before { content: '\1F569'; }

.entypo-flow-tree:before { content: '\1F56A'; }

.entypo-flow-line:before { content: '\1F56B'; }

.entypo-flow-parallel:before { content: '\1F56C'; }

.entypo-left-bold:before { content: '\E4AD'; }

.entypo-down-bold:before { content: '\E4B0'; }

.entypo-up-bold:before { content: '\E4AF'; }

.entypo-right-bold:before { content: '\E4AE'; }

.entypo-left:before { content: '\2B05'; }

.entypo-down:before { content: '\2B07'; }

.entypo-up:before { content: '\2B06'; }

.entypo-right:before { content: '\27A1'; }

.entypo-circled-left:before { content: '\E759'; }

.entypo-circled-down:before { content: '\E758'; }

.entypo-circled-up:before { content: '\E75B'; }

.entypo-circled-right:before { content: '\E75A'; }

.entypo-triangle-left:before { content: '\25C2'; }

.entypo-triangle-down:before { content: '\25BE'; }

.entypo-triangle-up:before { content: '\25B4'; }

.entypo-triangle-right:before { content: '\25B8'; }

.entypo-chevron-left:before { content: '\E75D'; }

.entypo-chevron-down:before { content: '\E75C'; }

.entypo-chevron-up:before { content: '\E75F'; }

.entypo-chevron-right:before { content: '\E75E'; }

.entypo-chevron-small-left:before { content: '\E761'; }

.entypo-chevron-small-down:before { content: '\E760'; }

.entypo-chevron-small-up:before { content: '\E763'; }

.entypo-chevron-small-right:before { content: '\E762'; }

.entypo-chevron-thin-left:before { content: '\E765'; }

.entypo-chevron-thin-down:before { content: '\E764'; }

.entypo-chevron-thin-up:before { content: '\E767'; }

.entypo-chevron-thin-right:before { content: '\E766'; }

.entypo-left-thin:before { content: '\2190'; }

.entypo-down-thin:before { content: '\2193'; }

.entypo-up-thin:before { content: '\2191'; }

.entypo-right-thin:before { content: '\2192'; }

.entypo-arrow-combo:before { content: '\E74F'; }

.entypo-three-dots:before { content: '\23F6'; }

.entypo-two-dots:before { content: '\23F5'; }

.entypo-dot:before { content: '\23F4'; }

.entypo-cc:before { content: '\1F545'; }

.entypo-cc-by:before { content: '\1F546'; }

.entypo-cc-nc:before { content: '\1F547'; }

.entypo-cc-nc-eu:before { content: '\1F548'; }

.entypo-cc-nc-jp:before { content: '\1F549'; }

.entypo-cc-sa:before { content: '\1F54A'; }

.entypo-cc-nd:before { content: '\1F54B'; }

.entypo-cc-pd:before { content: '\1F54C'; }

.entypo-cc-zero:before { content: '\1F54D'; }

.entypo-cc-share:before { content: '\1F54E'; }

.entypo-cc-remix:before { content: '\1F54F'; }

.entypo-db-logo:before { content: '\1F5F9'; }

.entypo-db-shape:before { content: '\1F5FA'; }

@font-face { font-family: "entypo"; src: url('../../lib/templates/project/entypo.eot'); src: url('../../lib/templates/project/entypo.eot?#iefix') format("embedded-opentype"), url('../../lib/templates/project/entypo.woff') format("woff"), url('../../lib/templates/project/entypo.ttf') format("truetype"), url('../../lib/templates/project/entypo.svg#entypo') format("svg"), url('../../lib/templates/project/entypo.otf') format("opentype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "entypo-social"; src: url('../../lib/templates/project/entypo-social.eot'); src: url('../../lib/templates/project/entypo-social.eot?#iefix') format("embedded-opentype"), url('../../lib/templates/project/entypo-social.woff') format("woff"), url('../../lib/templates/project/entypo-social.ttf') format("truetype"), url('../../lib/templates/project/entypo-social.svg#entypo-social') format("svg"), url('../../lib/templates/project/entypo-social.otf') format("opentype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "IconicFill"; src: url('../../lib/templates/project/iconic.eot'); src: url('../../lib/templates/project/iconic.eot?#iefix') format("embedded-opentype"), url('../../lib/templates/project/iconic.woff') format("woff"), url('../../lib/templates/project/iconic.ttf') format("truetype"), url('../../lib/templates/project/iconic.svg#IconicFill') format("svg"), url('../../lib/templates/project/iconic.otf') format("opentype"); font-weight: normal; font-style: normal; }

.entypo { list-style: none; list-style-image: none; }
.entypo li:before { font-family: "entypo"; font-style: normal; font-size: 1.5em; margin-right: 0.8em; text-align: center; display: inline-block; width: 0.25em; }

ul.iconic { list-style: none; list-style-image: none; }
ul.iconic li:before { font-family: "IconicFill"; font-style: normal; font-size: 1em; margin-right: 0.8em; text-align: center; display: inline-block; width: 1em; }
