// Import font-icons compass extension
@import "font-icons";

@include font-icon-family(entypo);
@include font-icon-family(entypo-social);
@include font-icon-family(iconic);

.entypo {
  list-style: none;
  list-style-image: none;
  li {
    @include font-icon-base(entypo);
  }
}

.entypo-phone { @extend %entypo-phone; }
.entypo-mobile { @extend %entypo-mobile; }
.entypo-mouse { @extend %entypo-mouse; }
.entypo-address { @extend %entypo-address; }
.entypo-mail { @extend %entypo-mail; }
.entypo-paper-plane { @extend %entypo-paper-plane; }
.entypo-pencil { @extend %entypo-pencil; }
.entypo-feather { @extend %entypo-feather; }
.entypo-attach { @extend %entypo-attach; }
.entypo-inbox { @extend %entypo-inbox; }
.entypo-reply { @extend %entypo-reply; }
.entypo-reply-all { @extend %entypo-reply-all; }
.entypo-forward { @extend %entypo-forward; }
.entypo-user { @extend %entypo-user; }
.entypo-users { @extend %entypo-users; }
.entypo-add-user { @extend %entypo-add-user; }
.entypo-vcard { @extend %entypo-vcard; }
.entypo-export { @extend %entypo-export; }
.entypo-location { @extend %entypo-location; }
.entypo-map { @extend %entypo-map; }
.entypo-compass { @extend %entypo-compass; }
.entypo-direction { @extend %entypo-direction; }
.entypo-hair-cross { @extend %entypo-hair-cross; }
.entypo-share { @extend %entypo-share; }
.entypo-shareable { @extend %entypo-shareable; }
.entypo-heart { @extend %entypo-heart; }
.entypo-heart-empty { @extend %entypo-heart-empty; }
.entypo-star { @extend %entypo-star; }
.entypo-star-empty { @extend %entypo-star-empty; }
.entypo-thumbs-up { @extend %entypo-thumbs-up; }
.entypo-thumbs-down { @extend %entypo-thumbs-down; }
.entypo-chat { @extend %entypo-chat; }
.entypo-comment { @extend %entypo-comment; }
.entypo-quote { @extend %entypo-quote; }
.entypo-home { @extend %entypo-home; }
.entypo-popup { @extend %entypo-popup; }
.entypo-search { @extend %entypo-search; }
.entypo-flashlight { @extend %entypo-flashlight; }
.entypo-print { @extend %entypo-print; }
.entypo-bell { @extend %entypo-bell; }
.entypo-link { @extend %entypo-link; }
.entypo-flag { @extend %entypo-flag; }
.entypo-cog { @extend %entypo-cog; }
.entypo-tools { @extend %entypo-tools; }
.entypo-trophy { @extend %entypo-trophy; }
.entypo-tag { @extend %entypo-tag; }
.entypo-camera { @extend %entypo-camera; }
.entypo-megaphone { @extend %entypo-megaphone; }
.entypo-moon { @extend %entypo-moon; }
.entypo-palette { @extend %entypo-palette; }
.entypo-leaf { @extend %entypo-leaf; }
.entypo-note { @extend %entypo-note; }
.entypo-beamed-note { @extend %entypo-beamed-note; }
.entypo-new { @extend %entypo-new; }
.entypo-graduation-cap { @extend %entypo-graduation-cap; }
.entypo-book { @extend %entypo-book; }
.entypo-newspaper { @extend %entypo-newspaper; }
.entypo-bag { @extend %entypo-bag; }
.entypo-airplane { @extend %entypo-airplane; }
.entypo-lifebuoy { @extend %entypo-lifebuoy; }
.entypo-eye { @extend %entypo-eye; }
.entypo-clock { @extend %entypo-clock; }
.entypo-mic { @extend %entypo-mic; }
.entypo-calendar { @extend %entypo-calendar; }
.entypo-flash { @extend %entypo-flash; }
.entypo-thunder-cloud { @extend %entypo-thunder-cloud; }
.entypo-droplet { @extend %entypo-droplet; }
.entypo-cd { @extend %entypo-cd; }
.entypo-briefcase { @extend %entypo-briefcase; }
.entypo-air { @extend %entypo-air; }
.entypo-hourglass { @extend %entypo-hourglass; }
.entypo-gauge { @extend %entypo-gauge; }
.entypo-language { @extend %entypo-language; }
.entypo-network { @extend %entypo-network; }
.entypo-key { @extend %entypo-key; }
.entypo-battery { @extend %entypo-battery; }
.entypo-bucket { @extend %entypo-bucket; }
.entypo-magnet { @extend %entypo-magnet; }
.entypo-drive { @extend %entypo-drive; }
.entypo-cup { @extend %entypo-cup; }
.entypo-rocket { @extend %entypo-rocket; }
.entypo-brush { @extend %entypo-brush; }
.entypo-suitcase { @extend %entypo-suitcase; }
.entypo-traffic-cone { @extend %entypo-traffic-cone; }
.entypo-globe { @extend %entypo-globe; }
.entypo-keyboard { @extend %entypo-keyboard; }
.entypo-browser { @extend %entypo-browser; }
.entypo-publish { @extend %entypo-publish; }
.entypo-progress-3 { @extend %entypo-progress-3; }
.entypo-progress-2 { @extend %entypo-progress-2; }
.entypo-progress-1 { @extend %entypo-progress-1; }
.entypo-progress-0 { @extend %entypo-progress-0; }
.entypo-light-down { @extend %entypo-light-down; }
.entypo-light-up { @extend %entypo-light-up; }
.entypo-adjust { @extend %entypo-adjust; }
.entypo-code { @extend %entypo-code; }
.entypo-monitor { @extend %entypo-monitor; }
.entypo-infinity { @extend %entypo-infinity; }
.entypo-light-bulb { @extend %entypo-light-bulb; }
.entypo-credit-card { @extend %entypo-credit-card; }
.entypo-database { @extend %entypo-database; }
.entypo-voicemail { @extend %entypo-voicemail; }
.entypo-clipboard { @extend %entypo-clipboard; }
.entypo-cart { @extend %entypo-cart; }
.entypo-box { @extend %entypo-box; }
.entypo-ticket { @extend %entypo-ticket; }
.entypo-rss { @extend %entypo-rss; }
.entypo-signal { @extend %entypo-signal; }
.entypo-thermometer { @extend %entypo-thermometer; }
.entypo-water { @extend %entypo-water; }
.entypo-sweden { @extend %entypo-sweden; }
.entypo-line-graph { @extend %entypo-line-graph; }
.entypo-pie-chart { @extend %entypo-pie-chart; }
.entypo-bar-graph { @extend %entypo-bar-graph; }
.entypo-area-graph { @extend %entypo-area-graph; }
.entypo-lock { @extend %entypo-lock; }
.entypo-lock-open { @extend %entypo-lock-open; }
.entypo-logout { @extend %entypo-logout; }
.entypo-login { @extend %entypo-login; }
.entypo-check { @extend %entypo-check; }
.entypo-cross { @extend %entypo-cross; }
.entypo-squared-minus { @extend %entypo-squared-minus; }
.entypo-squared-plus { @extend %entypo-squared-plus; }
.entypo-squared-cross { @extend %entypo-squared-cross; }
.entypo-circled-minus { @extend %entypo-circled-minus; }
.entypo-circled-plus { @extend %entypo-circled-plus; }
.entypo-circled-cross { @extend %entypo-circled-cross; }
.entypo-minus { @extend %entypo-minus; }
.entypo-plus { @extend %entypo-plus; }
.entypo-erase { @extend %entypo-erase; }
.entypo-block { @extend %entypo-block; }
.entypo-info { @extend %entypo-info; }
.entypo-circled-info { @extend %entypo-circled-info; }
.entypo-help { @extend %entypo-help; }
.entypo-circled-help { @extend %entypo-circled-help; }
.entypo-warning { @extend %entypo-warning; }
.entypo-cycle { @extend %entypo-cycle; }
.entypo-cw { @extend %entypo-cw; }
.entypo-ccw { @extend %entypo-ccw; }
.entypo-shuffle { @extend %entypo-shuffle; }
.entypo-back { @extend %entypo-back; }
.entypo-level-down { @extend %entypo-level-down; }
.entypo-retweet { @extend %entypo-retweet; }
.entypo-loop { @extend %entypo-loop; }
.entypo-back-in-time { @extend %entypo-back-in-time; }
.entypo-level-up { @extend %entypo-level-up; }
.entypo-switch { @extend %entypo-switch; }
.entypo-numbered-list { @extend %entypo-numbered-list; }
.entypo-add-to-list { @extend %entypo-add-to-list; }
.entypo-layout { @extend %entypo-layout; }
.entypo-list { @extend %entypo-list; }
.entypo-text-doc { @extend %entypo-text-doc; }
.entypo-text-doc-inverted { @extend %entypo-text-doc-inverted; }
.entypo-doc { @extend %entypo-doc; }
.entypo-docs { @extend %entypo-docs; }
.entypo-landscape-doc { @extend %entypo-landscape-doc; }
.entypo-picture { @extend %entypo-picture; }
.entypo-video { @extend %entypo-video; }
.entypo-music { @extend %entypo-music; }
.entypo-folder { @extend %entypo-folder; }
.entypo-archive { @extend %entypo-archive; }
.entypo-trash { @extend %entypo-trash; }
.entypo-upload { @extend %entypo-upload; }
.entypo-download { @extend %entypo-download; }
.entypo-save { @extend %entypo-save; }
.entypo-install { @extend %entypo-install; }
.entypo-cloud { @extend %entypo-cloud; }
.entypo-upload-cloud { @extend %entypo-upload-cloud; }
.entypo-bookmark { @extend %entypo-bookmark; }
.entypo-bookmarks { @extend %entypo-bookmarks; }
.entypo-open-book { @extend %entypo-open-book; }
.entypo-play { @extend %entypo-play; }
.entypo-paus { @extend %entypo-paus; }
.entypo-record { @extend %entypo-record; }
.entypo-stop { @extend %entypo-stop; }
.entypo-ff { @extend %entypo-ff; }
.entypo-fb { @extend %entypo-fb; }
.entypo-to-start { @extend %entypo-to-start; }
.entypo-to-end { @extend %entypo-to-end; }
.entypo-resize-full { @extend %entypo-resize-full; }
.entypo-resize-small { @extend %entypo-resize-small; }
.entypo-volume { @extend %entypo-volume; }
.entypo-sound { @extend %entypo-sound; }
.entypo-mute { @extend %entypo-mute; }
.entypo-flow-cascade { @extend %entypo-flow-cascade; }
.entypo-flow-branch { @extend %entypo-flow-branch; }
.entypo-flow-tree { @extend %entypo-flow-tree; }
.entypo-flow-line { @extend %entypo-flow-line; }
.entypo-flow-parallel { @extend %entypo-flow-parallel; }
.entypo-left-bold { @extend %entypo-left-bold; }
.entypo-down-bold { @extend %entypo-down-bold; }
.entypo-up-bold { @extend %entypo-up-bold; }
.entypo-right-bold { @extend %entypo-right-bold; }
.entypo-left { @extend %entypo-left; }
.entypo-down { @extend %entypo-down; }
.entypo-up { @extend %entypo-up; }
.entypo-right { @extend %entypo-right; }
.entypo-circled-left { @extend %entypo-circled-left; }
.entypo-circled-down { @extend %entypo-circled-down; }
.entypo-circled-up { @extend %entypo-circled-up; }
.entypo-circled-right { @extend %entypo-circled-right; }
.entypo-triangle-left { @extend %entypo-triangle-left; }
.entypo-triangle-down { @extend %entypo-triangle-down; }
.entypo-triangle-up { @extend %entypo-triangle-up; }
.entypo-triangle-right { @extend %entypo-triangle-right; }
.entypo-chevron-left { @extend %entypo-chevron-left; }
.entypo-chevron-down { @extend %entypo-chevron-down; }
.entypo-chevron-up { @extend %entypo-chevron-up; }
.entypo-chevron-right { @extend %entypo-chevron-right; }
.entypo-chevron-small-left { @extend %entypo-chevron-small-left; }
.entypo-chevron-small-down { @extend %entypo-chevron-small-down; }
.entypo-chevron-small-up { @extend %entypo-chevron-small-up; }
.entypo-chevron-small-right { @extend %entypo-chevron-small-right; }
.entypo-chevron-thin-left { @extend %entypo-chevron-thin-left; }
.entypo-chevron-thin-down { @extend %entypo-chevron-thin-down; }
.entypo-chevron-thin-up { @extend %entypo-chevron-thin-up; }
.entypo-chevron-thin-right { @extend %entypo-chevron-thin-right; }
.entypo-left-thin { @extend %entypo-left-thin; }
.entypo-down-thin { @extend %entypo-down-thin; }
.entypo-up-thin { @extend %entypo-up-thin; }
.entypo-right-thin { @extend %entypo-right-thin; }
.entypo-arrow-combo { @extend %entypo-arrow-combo; }
.entypo-three-dots { @extend %entypo-three-dots; }
.entypo-two-dots { @extend %entypo-two-dots; }
.entypo-dot { @extend %entypo-dot; }
.entypo-cc { @extend %entypo-cc; }
.entypo-cc-by { @extend %entypo-cc-by; }
.entypo-cc-nc { @extend %entypo-cc-nc; }
.entypo-cc-nc-eu { @extend %entypo-cc-nc-eu; }
.entypo-cc-nc-jp { @extend %entypo-cc-nc-jp; }
.entypo-cc-sa { @extend %entypo-cc-sa; }
.entypo-cc-nd { @extend %entypo-cc-nd; }
.entypo-cc-pd { @extend %entypo-cc-pd; }
.entypo-cc-zero { @extend %entypo-cc-zero; }
.entypo-cc-share { @extend %entypo-cc-share; }
.entypo-cc-remix { @extend %entypo-cc-remix; }
.entypo-db-logo { @extend %entypo-db-logo; }
.entypo-db-shape { @extend %entypo-db-shape; }

ul.iconic {
  list-style: none;
  list-style-image: none;
  li {
    @include font-icon-base(iconic);
  }
}

.menu-iconic-lightbulb { @extend %iconic-lightbulb }
.menu-iconic-equalizer { @extend %iconic-equalizer }
.menu-iconic-brush_alt { @extend %iconic-brush_alt }
.menu-iconic-move  { @extend %iconic-move }
.menu-iconic-tag_fill  { @extend %iconic-tag_fill }
.menu-iconic-book_alt2 { @extend %iconic-book_alt2 }
.menu-iconic-layers  { @extend %iconic-layers }
.menu-iconic-chat_alt_fill { @extend %iconic-chat_alt_fill }
.menu-iconic-layers_alt  { @extend %iconic-layers_alt }
.menu-iconic-cloud_upload  { @extend %iconic-cloud_upload }
.menu-iconic-chart_alt { @extend %iconic-chart_alt }
.menu-iconic-fullscreen_exit_alt { @extend %iconic-fullscreen_exit_alt }
.menu-iconic-cloud_download  { @extend %iconic-cloud_download }
.menu-iconic-paperclip { @extend %iconic-paperclip }
.menu-iconic-heart_fill  { @extend %iconic-heart_fill }
.menu-iconic-mail  { @extend %iconic-mail }
.menu-iconic-pen_alt_fill  { @extend %iconic-pen_alt_fill }
.menu-iconic-check_alt { @extend %iconic-check_alt }
.menu-iconic-battery_charging  { @extend %iconic-battery_charging }
.menu-iconic-lock_fill { @extend %iconic-lock_fill }
.menu-iconic-stop  { @extend %iconic-stop }
.menu-iconic-arrow_up  { @extend %iconic-arrow_up }
.menu-iconic-move_horizontal { @extend %iconic-move_horizontal }
.menu-iconic-compass { @extend %iconic-compass }
.menu-iconic-minus_alt { @extend %iconic-minus_alt }
.menu-iconic-battery_empty { @extend %iconic-battery_empty }
.menu-iconic-comment_fill  { @extend %iconic-comment_fill }
.menu-iconic-map_pin_alt { @extend %iconic-map_pin_alt }
.menu-iconic-question_mark { @extend %iconic-question_mark }
.menu-iconic-list  { @extend %iconic-list }
.menu-iconic-upload  { @extend %iconic-upload }
.menu-iconic-reload  { @extend %iconic-reload }
.menu-iconic-loop_alt4 { @extend %iconic-loop_alt4 }
.menu-iconic-loop_alt3 { @extend %iconic-loop_alt3 }
.menu-iconic-loop_alt2 { @extend %iconic-loop_alt2 }
.menu-iconic-loop_alt1 { @extend %iconic-loop_alt1 }
.menu-iconic-left_quote  { @extend %iconic-left_quote }
.menu-iconic-x { @extend %iconic-x }
.menu-iconic-last  { @extend %iconic-last }
.menu-iconic-bars  { @extend %iconic-bars }
.menu-iconic-arrow_left  { @extend %iconic-arrow_left }
.menu-iconic-arrow_down  { @extend %iconic-arrow_down }
.menu-iconic-download  { @extend %iconic-download }
.menu-iconic-home  { @extend %iconic-home }
.menu-iconic-calendar  { @extend %iconic-calendar }
.menu-iconic-right_quote_alt { @extend %iconic-right_quote_alt }
.menu-iconic-unlock_fill { @extend %iconic-unlock_fill }
.menu-iconic-fullscreen  { @extend %iconic-fullscreen }
.menu-iconic-dial  { @extend %iconic-dial }
.menu-iconic-plus_alt  { @extend %iconic-plus_alt }
.menu-iconic-clock { @extend %iconic-clock }
.menu-iconic-movie { @extend %iconic-movie }
.menu-iconic-steering_wheel  { @extend %iconic-steering_wheel }
.menu-iconic-pen { @extend %iconic-pen }
.menu-iconic-pin { @extend %iconic-pin }
.menu-iconic-denied  { @extend %iconic-denied }
.menu-iconic-left_quote_alt  { @extend %iconic-left_quote_alt }
.menu-iconic-volume_mute { @extend %iconic-volume_mute }
.menu-iconic-umbrella  { @extend %iconic-umbrella }
.menu-iconic-list_nested { @extend %iconic-list_nested }
.menu-iconic-arrow_up_alt1 { @extend %iconic-arrow_up_alt1 }
.menu-iconic-undo  { @extend %iconic-undo }
.menu-iconic-pause { @extend %iconic-pause }
.menu-iconic-bolt  { @extend %iconic-bolt }
.menu-iconic-article { @extend %iconic-article }
.menu-iconic-read_more { @extend %iconic-read_more }
.menu-iconic-beaker  { @extend %iconic-beaker }
.menu-iconic-beaker_alt  { @extend %iconic-beaker_alt }
.menu-iconic-battery_full  { @extend %iconic-battery_full }
.menu-iconic-arrow_right { @extend %iconic-arrow_right }
.menu-iconic-iphone  { @extend %iconic-iphone }
.menu-iconic-arrow_up_alt2 { @extend %iconic-arrow_up_alt2 }
.menu-iconic-cog { @extend %iconic-cog }
.menu-iconic-award_fill  { @extend %iconic-award_fill }
.menu-iconic-first { @extend %iconic-first }
.menu-iconic-trash_fill  { @extend %iconic-trash_fill }
.menu-iconic-image { @extend %iconic-image }
.menu-iconic-comment_alt1_fill { @extend %iconic-comment_alt1_fill }
.menu-iconic-cd  { @extend %iconic-cd }
.menu-iconic-right_quote { @extend %iconic-right_quote }
.menu-iconic-brush { @extend %iconic-brush }
.menu-iconic-cloud { @extend %iconic-cloud }
.menu-iconic-eye { @extend %iconic-eye }
.menu-iconic-play_alt  { @extend %iconic-play_alt }
.menu-iconic-transfer  { @extend %iconic-transfer }
.menu-iconic-pen_alt2  { @extend %iconic-pen_alt2 }
.menu-iconic-camera  { @extend %iconic-camera }
.menu-iconic-move_horizontal_alt2  { @extend %iconic-move_horizontal_alt2 }
.menu-iconic-curved_arrow  { @extend %iconic-curved_arrow }
.menu-iconic-move_horizontal_alt1  { @extend %iconic-move_horizontal_alt1 }
.menu-iconic-aperture  { @extend %iconic-aperture }
.menu-iconic-reload_alt  { @extend %iconic-reload_alt }
.menu-iconic-magnifying_glass  { @extend %iconic-magnifying_glass }
.menu-iconic-calendar_alt_fill { @extend %iconic-calendar_alt_fill }
.menu-iconic-fork  { @extend %iconic-fork }
.menu-iconic-box { @extend %iconic-box }
.menu-iconic-map_pin_fill  { @extend %iconic-map_pin_fill }
.menu-iconic-bars_alt  { @extend %iconic-bars_alt }
.menu-iconic-volume  { @extend %iconic-volume }
.menu-iconic-x_alt { @extend %iconic-x_alt }
.menu-iconic-link  { @extend %iconic-link }
.menu-iconic-move_vertical { @extend %iconic-move_vertical }
.menu-iconic-eyedropper  { @extend %iconic-eyedropper }
.menu-iconic-spin  { @extend %iconic-spin }
.menu-iconic-rss { @extend %iconic-rss }
.menu-iconic-info  { @extend %iconic-info }
.menu-iconic-target  { @extend %iconic-target }
.menu-iconic-cursor  { @extend %iconic-cursor }
.menu-iconic-key_fill  { @extend %iconic-key_fill }
.menu-iconic-minus { @extend %iconic-minus }
.menu-iconic-book_alt  { @extend %iconic-book_alt }
.menu-iconic-headphones  { @extend %iconic-headphones }
.menu-iconic-hash  { @extend %iconic-hash }
.menu-iconic-arrow_left_alt1 { @extend %iconic-arrow_left_alt1 }
.menu-iconic-arrow_left_alt2 { @extend %iconic-arrow_left_alt2 }
.menu-iconic-fullscreen_exit { @extend %iconic-fullscreen_exit }
.menu-iconic-share { @extend %iconic-share }
.menu-iconic-fullscreen_alt  { @extend %iconic-fullscreen_alt }
.menu-iconic-comment_alt2_fill { @extend %iconic-comment_alt2_fill }
.menu-iconic-moon_fill { @extend %iconic-moon_fill }
.menu-iconic-at  { @extend %iconic-at }
.menu-iconic-chat  { @extend %iconic-chat }
.menu-iconic-move_vertical_alt2  { @extend %iconic-move_vertical_alt2 }
.menu-iconic-move_vertical_alt1  { @extend %iconic-move_vertical_alt1 }
.menu-iconic-check { @extend %iconic-check }
.menu-iconic-mic { @extend %iconic-mic }
.menu-iconic-book  { @extend %iconic-book }
.menu-iconic-move_alt1 { @extend %iconic-move_alt1 }
.menu-iconic-move_alt2 { @extend %iconic-move_alt2 }
.menu-iconic-document_fill { @extend %iconic-document_fill }
.menu-iconic-plus  { @extend %iconic-plus }
.menu-iconic-wrench  { @extend %iconic-wrench }
.menu-iconic-play  { @extend %iconic-play }
.menu-iconic-star  { @extend %iconic-star }
.menu-iconic-document_alt_fill { @extend %iconic-document_alt_fill }
.menu-iconic-chart { @extend %iconic-chart }
.menu-iconic-rain  { @extend %iconic-rain }
.menu-iconic-folder_fill { @extend %iconic-folder_fill }
.menu-iconic-new_window  { @extend %iconic-new_window }
.menu-iconic-user  { @extend %iconic-user }
.menu-iconic-battery_half  { @extend %iconic-battery_half }
.menu-iconic-aperture_alt  { @extend %iconic-aperture_alt }
.menu-iconic-eject { @extend %iconic-eject }
.menu-iconic-arrow_down_alt1 { @extend %iconic-arrow_down_alt1 }
.menu-iconic-pilcrow { @extend %iconic-pilcrow }
.menu-iconic-arrow_down_alt2 { @extend %iconic-arrow_down_alt2 }
.menu-iconic-arrow_right_alt1  { @extend %iconic-arrow_right_alt1 }
.menu-iconic-arrow_right_alt2  { @extend %iconic-arrow_right_alt2 }
.menu-iconic-rss_alt { @extend %iconic-rss_alt }
.menu-iconic-spin_alt  { @extend %iconic-spin_alt }
.menu-iconic-sun_fill  { @extend %iconic-sun_fill }
